#check{
    margin-left: 23px;
}
#photo{
    width: 80%;
    font-size: 15px;
}
#color{
    font-size: 15px;
}
#test{
    color: plum;
}
table, th, td {
    border:1px solid black;
    text-align: center;
}

#con{
    border-radius: 1rem;
}
#con >h3{
    color: white;
}
label{
    color: white;
}
#counter{
    color: white;
}